@using MMS2
@model List<CashIssueDetail>
@{
    Layout = "";
    var date = @DateTime.Now.Date.ToString("dd MMM yyyy");
    var Time = @DateTime.Now.Hour.ToString().PadLeft(2, '0') + ":"
        + @DateTime.Now.Minute.ToString().PadLeft(2, '0') + ":"
        + @DateTime.Now.Second.ToString().PadLeft(2, '0');
    string ling = "";
    ling = ling.PadRight(146, '=');
     }

<!DOCTYPE html>
<script type='text/javascript' src="@Url.Content("~/Scripts/MazenMainJava.js")"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @*Setup the Varible for Jquery*@
    @Html.Hidden("Date", @date)
    @Html.Hidden("Time", @Time)
    @Html.Hidden("ling", @ling)
    <link href="@Url.Content("~/css/LoaderStyle/normalize.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/LoaderStyle/main.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/stylesheets.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/MazenPrintStyle.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <form>
        <table id="mainTbl" style="width: 100%; table-layout: fixed; font-size: x-small; border-style: none; border-color: white; background-color: white;">
            <thead>
                <tr class="HideColor">
                    <td class="HideColor" style="width: 3%">Sno</td>
                    <td class="HideColor" style="width: 10%">Order No</td>
                    <td class="HideColor" style="width: 7%">Order Date</td>
                    <td class="HideColor" style="width: 30%">Item</td>

                    <td class="HideColor" style="width: 10%">Company</td>
                    <td class="HideColor" style="width: 5%">Price</td>
                    <td class="HideColor" style="width: 5%">QTY</td>
                    <td class="HideColor" style="width: 15%">Unit</td>
                    <td class="HideColor" style="width: 15%">Station</td>

                </tr>
            </thead>

            <tbody>

                @foreach (var itm in Model)
                {           
                    <tr class="HideColor">
                        <td class="HideColor" style="width: 3%">@itm.Sno</td>
                        <td class="HideColor" style="width: 10%">@itm.OrderNo </td>
                        <td class="HideColor" style="width: 7%">@String.Format("{0:dd-MMM-yyyy}", @itm.OrderDate)</td>
                        <td class="HideColor" style="width: 30%">@itm.Item </td>

                        <td class="HideColor" style="width: 10%">@itm.Company</td>
                        <td class="HideColor" style="width: 5%; text-align: right">@String.Format("{0:0,0.00}", @itm.Price) </td>
                        <td class="HideColor" style="width: 5%; text-align: right">@String.Format("{0:0,0.00}", @itm.QTY) </td>
                        <td class="HideColor" style="width: 15%">@itm.UOM</td>
                        <td class="HideColor" style="width: 15%">@itm.Station</td>

                    </tr>
                }
            </tbody>

        </table>
        <div id="rptdiv"></div>
    </form>
</body>
</html>

<style>
    td.HideBorder
    {
        
        
        border: hidden;
    }

    tr.HideColor
    {
        background-color: white;
        border-color: white;
    }
</style>

<script>
    $(document).ready(function () {
        
        var x = document.readyState;
        if (x == "complete") {
            BuildBody();
        }
    });
    function BuildBody() {
        var PageNumber = 1;
        var line = 10;
        var NewRowID = 0;
        getHeader(PageNumber);
        CreateTable(PageNumber);
        
                 var oTable = document.getElementById('mainTbl');
                 var rowLength = oTable.rows.length;
                 for (i = 1; i < rowLength; i++) { 
            line = line + 1;
            if (line >= 43) {
                getFooter();
                PageNumber += 1;
                getHeader(PageNumber);
                CreateTable(PageNumber);
                NewRowID = 0;                 line = 10; 
            }
                         var oCells = oTable.rows.item(i).cells;

            var tablname = '#OutTable' + PageNumber + ' tbody';
            $(tablname).append('<tr class="HideColor">'
            + '<td class="HideColor" style="width: 3%">' + oCells.item(0).innerHTML + '</td>'
            + '<td class="HideColor" style="width: 10%">' + oCells.item(1).innerHTML + '</td>'
            + '<td class="HideColor" style="width: 10%">' + oCells.item(2).innerHTML + '</td>'
            + '<td class="HideColor" style="width: 30%">' + oCells.item(3).innerHTML + '</td>'
            + '<td class="HideColor" style="width: 7%">' + oCells.item(4).innerHTML + '</td>'
            + '<td class="HideColor" style="width: 5%">' + oCells.item(5).innerHTML + '</td>'
            + '<td class="HideColor" style="width: 5%">' + oCells.item(6).innerHTML + '</td>'
            + '<td class="HideColor" style="width: 15%">' + oCells.item(7).innerHTML + '</td>'
            + '<td class="HideColor" style="width: 15%">' + oCells.item(8).innerHTML + '</td>'
            + '</tr>');
            NewRowID = NewRowID + 1;
        }
        getFooter();
        $('#mainTbl').hide();
        return false;
    }
    function getHeader(pageNO) {
        var str = '<table style="width: 100%; table-layout: fixed; font-size: x-small; border-style: none; border-color: white; background-color: white;">'
                    + '<tbody>'
                      + '<tr class="HideColor">'
                            + '<td class="HideBorder" style="width: 20%; text-align: center">Saudi German Hospital </td>'
                            + '<td class="HideBorder" style="width: 70%;"></td>'
                            + '<td class="HideBorder" style="width: 10%">Date: ' + $('#Date').val() + '</td>'
                        + '</tr>'
                        + '<tr class="HideColor">'
                          + '  <td class="HideBorder" style="width: 20%; text-align: center">Jeddah </td>'
                           + ' <td class="HideBorder" style="width: 70%"></td>'
                            + '<td class="HideBorder" style="width: 10%">Time:' + $('#Time').val() + '</td>'
                        + '</tr>'
                        + '<tr class="HideColor">'
                         + '   <td class="HideBorder" style="width: 20%; text-align: center"></td>'
                          + '  <td class="HideBorder" style="width: 70%"></td>'
                           + ' <td class="HideBorder" style="width: 10%">Page:' + pageNO + '</td>'
                        + '</tr>'
                        + '<tr class="HideColor">'
                         + '   <td class="HideBorder"></td>'
                          + '  <td class="HideBorder" style="width: 100%; font-size: x-large; text-align: center"></td>'
                          + '  <td class="HideBorder"></td>'
                        + ' </tr>'
                        + '<tr class="HideColor">'
                          + '  <td class="HideBorder"></td>'
                           + ' <td class="HideBorder" style="width: 100%; font-size: large; text-align: center">'
                           + ' Total OP Issues: ' + $('#gIACode').val() + '.' + $('#txtPIN').val() + '  ' + $('#PTName').val()
                           + '</td>'
                            + ' <td class="HideBorder"></td>'
                        + ' </tr>'
                        + ' <tr class="HideColor">'
                           + ' <td class="HideBorder"></td>'
                            + ' <td class="HideBorder" style="width: 100%; font-size: large; text-align: center">'
                            + 'Printed Station : ' + gStationName()
                            + '</td>'
                            + ' <td class="HideBorder"></td>'
                        + ' </tr>'
                    + ' </tbody>'
                + ' </table>'
                + ' <div>' + $('#ling').val() + '</div>';
                 $('#rptdiv').append('<div class="page-break-before">' + str + '</div>');


        return false;
    }
    function getFooter() {
        var str = '   <table style="background-color: white; border-style: hidden">'
                    + '<tbody style="width: 100%; border-style: hidden">'
                        + '<tr style="border-style: hidden">'
                            + '<td style="width: 1200px; border-right-style: hidden">'
                           + '<label style = "font-size: samll;text-align-last: center ">---------------------------------------------------------------------------------------------------------</label>'
                            + '</td>'
                        + '</tr>'
                        + '<tr style="border-style: hidden">'
                            + '<td style="width: 800px; border-right-style: hidden">'
                           + '<label style = "font-size: x-small; text-align-last: center"> SGHG-Jeddah 2016 [Owner: IT Department]</label>'
                            + '</td>'
                        + '</tr>'
                    + '</tbody>'
                + '</table>';

        $('#rptdiv').append('<div class="footer page-break ">' + str + '</div>');

         
        return false;

    }
    function CreateTable(PageNumber) {
        var str = '<table id="OutTable' + PageNumber
               + '" style="width: 100%; table-layout: fixed; font-size: x-small; border-style: none; border-color: white; background-color: white;">'
                    + '<thead>'
                        + '<tr class="HideColor">'
                        + $('#mainTbl >thead >tr').html()
                        + '</tr>'
                    + '</thead>'
                    + '<tbody> </tbody> </table>';
        $('#dtlheader').html(str);
        $('#rptdiv').append('<div>' + str + '</div>');
        $('#OutTable' + PageNumber).focus();

        return false;


                                                                                                                                                                 
    }

  
</script>
