@using MMS2
@model AntiUsedHDRMdl
@{
    Layout = "";
         var date = @DateTime.Now.Date.ToString("dd MMM yyyy");
    var Time = @DateTime.Now.Hour.ToString().PadLeft(2, '0') + ":"
        + @DateTime.Now.Minute.ToString().PadLeft(2, '0') + ":"
        + @DateTime.Now.Second.ToString().PadLeft(2, '0');
    int PageCount = 1;
    string ling = "";

    var Title = "ANTIBIOTIC CONSUMPTION IN SURGERY FOR THE MONTH OF " + Model.AsOfDate;

    ling = ling.PadRight(146, '=');
    var ReportTitle = "ANTIBIOTIC CONSUMPTION IN SURGERY FOR THE MONTH OF ";
    <script type='text/javascript' src="@Url.Content("~/Scripts/MazenMainJava.js")"></script>
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ReportTitle
    </title>
    @*Setup the Varible for Jquery*@
    @Html.Hidden("Date", @date)
    @Html.Hidden("Time", @Time)
    @Html.Hidden("ling", @ling)
    @Html.Hidden("Title", @Title)

    <link href="@Url.Content("~/css/LoaderStyle/normalize.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/LoaderStyle/main.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/stylesheets.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/MazenPrintStyle.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <form>
        <div class="MainContainer page-break-before">
            <table id="mainTbl" style="width: 100%; table-layout: fixed; font-size: x-small; border-style: none; border-color: white; background-color: white; font-family: 'Courier New'; font-size: 12px;">
                <thead>
                    <tr class="HideColor">
                        <td class="HideColor" style="width: 6%">PIN</td>
                        <td class="HideColor" style="width: 23%">Patient Name</td>
                        <td class="HideColor" style="width: 23%">Dr Name</td>
                        <td class="HideColor" style="width: 24%">Item</td>
                        <td class="HideColor" style="width: 4%">St.</td>
                        <td class="HideColor" style="width: 14%">DateTime</td>
                        <td class="HideColor" style="width: 6%">Status</td>

                    </tr>

                </thead>

                <tbody>

                    @foreach (var itm in Model.ItemList)
                    {
                        <tr class="HideColor">
                            <td class="HideColor" style="width: 6%">@itm.PIN.Substring(0, (itm.PIN.Length > 10) ? 10 : itm.PIN.Length)</td>
                            <td class="HideColor" style="width: 23%">@itm.Name.Substring(0, (itm.Name.Length > 25) ? 25 : itm.Name.Length)</td>
                            <td class="HideColor" style="width: 23%">@itm.Doctor.Substring(0, (itm.Doctor.Length > 25) ? 25 : itm.Doctor.Length)</td>
                            <td class="HideColor" style="width: 24%;">@itm.Item.Substring(0, (itm.Item.Length > 30) ? 30 : itm.Item.Length) </td>
                            <td class="HideColor" style="width: 4%; text-align: left">@itm.Station.Substring(0, (itm.Station.Length > 4) ? 4 : itm.Station.Length) </td>
                            <td class="HideColor" style="width: 14%">@itm.DateTime</td>
                            <td class="HideColor" style="width: 6%; text-align: left">@itm.Status</td>
                        </tr>
                    
                   
                    }
                </tbody>

            </table>
            <div id="rptdiv"></div>
        </div>
    </form>
</body>
</html>


<style>
    td.HideBorder
    {
        border: hidden;
    }

    tr.HideColor
    {
        background-color: white;
        border-color: white;
    }

    div.MainContainer
    {
        display: block;
        width: 100%;
        
        
    }
</style>

<script>
    $(document).ready(function () {
        var x = document.readyState;
        if (x == "complete") {
            BuildBody();
        }
    });
    function BuildBody() {
        var PageNumber = 1;
        var line = 10;
        var NewRowID = 0;

        getHeader(PageNumber);
        CreateTable(PageNumber);
        
                 var oTable = document.getElementById('mainTbl');
                 var rowLength = oTable.rows.length;
                 for (i = 1; i < rowLength; i++) { 
            line = line + 1;
            if (line >= 36) {                   getFooter();
                PageNumber += 1;
                getHeader(PageNumber);
                CreateTable(PageNumber);
                NewRowID = 0;                 line = 10; 
            }
                         var oCells = oTable.rows.item(i).cells;

            var tablname = '#OutTable' + PageNumber + ' tbody';


            $(tablname).append('<tr class="HideColor"> '
                    + '<td class="HideColor" style="width: 6%">' + oCells.item(0).innerHTML + '</td>'
                    + '<td class="HideColor" style="width: 23%">' + oCells.item(1).innerHTML + '</td>'
                    + '<td class="HideColor" style="width: 23%;">' + oCells.item(2).innerHTML + '</td>'
                    + '<td class="HideColor" style="width: 24%;">' + oCells.item(3).innerHTML + '</td>'
                    + '<td class="HideColor" style="width: 4%;text-align:left">' + oCells.item(4).innerHTML + '</td>'
                    + '<td class="HideColor" style="width: 14%">' + oCells.item(5).innerHTML + '</td>'
                    + '<td class="HideColor" style="width: 6%;text-align:left">' + oCells.item(6).innerHTML + '</td>'
                + '</tr>');


            NewRowID = NewRowID + 1;
        }
        getFooter();
        $('#mainTbl').hide();
        return false;
    }
    function getHeader(pageNO) {
        var str = '<table style="width: 100%; table-layout: fixed; font-size: x-small; border-style: none; border-color: white; background-color: white;'
                    + ' font-family: "Courier New"; font-size: 12px;" >'
                    + '<tbody>'
                      + '<tr class="HideColor">'
                            + '<td class="HideBorder" style="width: 20%; text-align: center">Saudi German Hospital </td>'
                            + '<td class="HideBorder" style="width: 65%;"></td>'
                            + '<td class="HideBorder" style="width: 15%">Date: ' + $('#Date').val() + '</td>'
                        + '</tr>'
                        + '<tr class="HideColor">'
                          + '  <td class="HideBorder" style="width: 20%; text-align: center">Jeddah </td>'
                           + ' <td class="HideBorder" style="width: 65%"></td>'
                            + '<td class="HideBorder" style="width: 15%">Time:' + $('#Time').val() + '</td>'
                        + '</tr>'
                        + '<tr class="HideColor">'
                         + '   <td class="HideBorder" style="width: 20%; text-align: center"></td>'
                          + '  <td class="HideBorder" style="width: 65%"></td>'
                           + ' <td class="HideBorder" style="width: 15%">Page:' + pageNO + '</td>'
                        + '</tr>'
                        + '<tr class="HideColor">'
                         + '   <td class="HideBorder"></td>'
                          + '  <td class="HideBorder" style="width: 100%; font-size: large; text-align: center">' + $('#Title').val() + '</td>'
                          + '  <td class="HideBorder"></td>'
                        + ' </tr>'
                    + ' </tbody>'
                + ' </table>'
        + ' <div>' + $('#ling').val() + '</div>';

        $('#rptdiv').append('<div class="page-break-before">' + str + '</div>');


        return false;
    }
    function getFooter() {
        var str = '   <table style="background-color: white; border-style: hidden">'
                    + '<tbody style="width: 100%; border-style: hidden">'
                        + '<tr style="border-style: hidden">'
                            + '<td style="width: 1200px; border-right-style: hidden">'
                           + '<label style = "font-size: samll;text-align-last: center ">---------------------------------------------------------------------------------------------------------</label>'
                            + '</td>'
                        + '</tr>'
                        + '<tr style="border-style: hidden">'
                            + '<td style="width: 800px; border-right-style: hidden">'
                           + '<label style = "font-size: x-small; text-align-last: center"> SGHG-Jeddah 2016 [Owner: IT Department]</label>'
                            + '</td>'
                        + '</tr>'
                    + '</tbody>'
                + '</table>';

        $('#rptdiv').append('<div class="footer page-break ">' + str + '</div>');

         
        return false;

    }
    function CreateTable(PageNumber) {
        var str = '<table id="OutTable' + PageNumber
               + '" style="width: 100%; table-layout: fixed; font-size: x-small; border-style: none; border-color: white; background-color: white;'
                 + ' font-family: "Courier New"; font-size: 12px;" >'
                    + '<thead>'
                        + '<tr class="HideColor">'
                        + $('#mainTbl >thead >tr').html()
                        + '</tr>'
                    + '</thead>'
                    + '<tbody> </tbody> </table>';
        $('#dtlheader').html(str);
        $('#rptdiv').append('<div>' + str + '</div>');
        $('#OutTable' + PageNumber).focus();

        return false;
    }


</script>

