@using MMS2
@model IndentOrderModel
@{
    ViewBag.Title = "IndentIssue";
    Layout = "~/Views/Shared/_TwitterLayoutPage.cshtml";
}
<script type='text/javascript' src="@Url.Content("~/Scripts/IndentIssue.js")"></script>

<div class="breadCrumb clearfix">
    <ul id="breadcrumbs">
        <li><a href="@Url.Content("~/")">Home</a></li>
        <li><a href="#" onclick="$('#mainMenuIssue').trigger('click');">Issue</a></li>
        <li>Indent Issue</li>
    </ul>
</div>


<div class="content">
    <form id="validate">
        @using (Ajax.BeginForm("IndentIssueSave", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "validate" }))
        { 
            <div class="widget ViewWidget">
                <div class="head dark">
                    <div class="icon"><span class=""></span></div>
                    <h2>Indent Issue</h2>
                </div>
                <div class="row-fluid">
                    <div class="block-fluid">
                        <div class="row-form">
                            <div class="span4">
                                <span class="top">Store</span>
                                <select id="vwStorelist" class="" style="width: 100%"></select>
                            </div>
                            <div class="span1"></div>
                            <div class="span2">
                                <span class="top">Date From</span>
                                <input type="text" id="FromDate" class="datepicker" value="" />

                            </div>
                            <div class="span2">
                                <span class="top">To Date</span>
                                <input type="text" id="ToDate" class="datepicker" value="" />

                            </div>

                            <div class="span3">
                                <span class="top">.</span>
                                <button class="btn btn-primary" id="btnShowData" style="width: 75%">Show</button>
                            </div>
                        </div>
                        <div class="dr"><span></span></div>
                        <div class="row-form">
                            <div class="head">
                                <div class="icon"><span class="icosg-target1"></span></div>
                                <h2>Table Of Results</h2>

                            </div>
                        </div>
                        <div class="row-form">
                            <div class="span12">
                                <table id="tblIndentView" class="table DarkRedFont">
                                    <thead>
                                        <tr>
                                            <td>IndentNo</td>
                                            <td>IndentFrom</td>
                                            <td>IndentDate</td>
                                            <td>DeliveryBy</td>
                                            <td>SentBy</td>
                                            <td>IssuedBy</td>
                                            <td>IssueDate</td>
                                            <td>RefNo</td>
                                            <td class="hidden">CategoryID</td>
                                            <td class="hidden">status</td>
                                            <td class="hidden">IndentId</td>
                                            <td class="hidden">isCocktail</td>
                                            <td class="hidden">sourceid</td>
                                            <td class="hidden">recstatus</td>
                                            <td class="hidden">QuerySeq</td>
                                            <td class="hidden">IndentTxtRef</td>
                                            <td class="hidden">IndentIssueID</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row-form">

                            <div class="span12">
                                <div class="span1"></div>
                                <div class="span2">
                                    <span class="label DarkRedFont" style="border: solid; border-width: thin; background-color: rgba(255, 182, 193, 0.59); width: 100px;">New Indent</span>
                                </div>
                                <div class="span2">
                                    <span class="label DarkRedFont" style="border: solid; border-width: thin; background-color: rgb(246, 243, 80); width: 100px;">Pending Issues</span>
                                </div>
                                <div class="span2">
                                    <span class="label DarkRedFont" style="border: solid; border-width: thin; background-color: rgb(153, 255, 153); width: 100px;">Issued Indent</span>
                                </div>
                                <div class="span2">
                                    <span class="label DarkRedFont" style="border: solid; border-width: thin; background-color: aqua; width: 100px;">Not Acknowledge</span>
                                </div>
                                <div class="span2">
                                    <span class="label DarkRedFont" style="border: solid; border-width: thin; background-color: coral; width: 100px;">Cocktail Indent</span>
                                </div>
                                <div class="span1"></div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            
            
            <div class="widget DetailWidget">
                <div class="head dark">
                    <div class="icon"><span class=""></span></div>
                    <h2>Indent Issue</h2>
                </div>
                <div class="row-fluid">
                    <div class="block-fluid">
                        <div class="row-form">
                            <div class="span8">
                                <span class="top">Indent Issue To</span>
                                <select id="ToStationList" class="ViewTxtCSS"></select>
                            </div>
                            @Html.Hidden("OrderID")
                            @Html.Hidden("IssueID")
                            @Html.Hidden("EditAllowed")
                            
                            <div class="span4">
                                <span class="top">Date</span>
                                @Html.TextBoxFor(m => m.lbldate, new { @class = "ViewTxtCSS" })
                            </div>
                        </div>
                        <div class="row-form">
                            <div class="span4">
                                <span class="top">Delivery By Date</span>
                                @Html.TextBoxFor(m => m.dtpBydate, new { @class = "ViewTxtCSS" })

                            </div>
                            <div class="span4">
                                <span class="top">Indent Issue.No</span>
                                @Html.TextBoxFor(m => m.txtRef, new { @class = "" })
                            </div>
                            <div class="span4">
                                <span class="top">Operator</span>
                                @Html.TextBoxFor(m => m.lbloperator, new { @class = "ViewTxtCSS" })
                            </div>
                        </div>
                        <div class="row-form">
                            <div class="span4">
                                <span class="top">Indent Ref.No</span>
                                @Html.TextBoxFor(m => m.IndentTxtRef, new { @class = "ViewTxtCSS" })
                            </div>
                            <div class="span4">
                                <span class="top">Indent No</span>
                                @Html.TextBoxFor(m => m.lblId, new { @class = "ViewTxtCSS" })
                            </div>
                            <div class="span4">
                                <span class="top">Category</span>
                                <select id="lstItemCategory" class="ViewTxtCSS"></select>
                            </div>
                            <div class="hidden">
                                <select id="TempGenericList"></select>
                            </div>
                        </div>
                        <div class="row-form">
                            <span class="top DarkRedFontBold">Ordered Items </span>
                            <table class="table" id="OrderedItemtbl"
                                style="background-color: beige; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>sl.no</th>
                                        <th>Drug Name </th>
                                        <th>QOH</th>
                                        <th>Ord.Qty</th>
                                        <th>SubName</th>
                                        <th class="hidden">ID</th>
                                        <th class="TAC">Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="row-form">
                            <span class="top DarkRedFontBold">Selected Items </span>
                            <table class="table" id="SelectedItemtbl"
                                style="background-color: beige; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>sl.no</th>
                                        <th>Drug Name </th>
                                        <th class="hidden">Batch</th>
                                        <th class="hidden">Expiry</th>
                                        <th>QOH</th>

                                        <th>IssQTY</th>
                                        <th>Unit</th>
                                        <th class="hidden">ItemID</th>
                                        <th class="hidden">substituteid</th>
                                        <th class="hidden">DrugType</th>

                                        <th class="hidden">lstsub</th>
                                        <th class="hidden">IssueUnitID</th>
                                        <th class="hidden">conversionqty</th>
                                        <th>PrevQty</th>
                                        <th class="hidden">OrderQty</th>

                                        <th class="hidden">PrevUnitID</th>
                                        <th class="hidden">IndentUnitID</th>
                                        <th class="hidden">batchqty</th>
                                        <th class="hidden">totqty</th>
                                        <th class="hidden">MinLevel</th>

                                        <th class="TAC">Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="block-fluid">
                        <div class="row-form">
                            <div class="span12">
                                <div class="span3">
                                </div>
                                <div class="span3">
                                    <button class="btn btn-primary" id="btnSave" style="width: 75%">Save</button>
                                </div>
                                <div class="span3">
                                    <button class="btn btn-primary" id="btnPrint" style="width: 75%">View</button>
                                </div>
                                <div class="span3">
                                    <button class="btn btn-primary" id="btnClose" style="width: 75%">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        }

        @*report Modal*@
        <div class="dialog-fluid" id="ReportDialog"
            style="display: none; background-color: rgba(72, 61, 139, 0.2);" title="Report">
            <div class="block-fluid">
                <div id="DivRpt" style="overflow: auto; max-height: 350px; overflow-x: auto"></div>
            </div>

        </div>
    </form>

</div>

@*<script>
    $(document).ready(function (e) {
        $('#mainMenuIssue').trigger('click');
    });
</script>*@