@using MMS2
@model OPLOAOrder
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TwitterLayoutPage.cshtml";
}
<div class="breadCrumb clearfix">
    <ul id="breadcrumbs">
        <li><a href="@Url.Content("~/")">Home</a></li>
        <li><a href="@Url.Content("~/")" onclick="$('#mainMenuDefault').trigger('click');">Main</a></li>
        <li>LOA Limits Approval</li>
    </ul>
</div>
<script type='text/javascript' src="@Url.Content("~/Scripts/OpLoaJava.js")"></script>
<div class="content">
    <form id="validate">
        @using (Ajax.BeginForm("SaveApproval", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "validate" }))
        {
            <div class="row-fluid">

                <div class="span12">
                    <div class="widget">
                        <div class="head dark">
                            <div class="icon"><i class="icos-newtab"></i></div>
                            <h2>OP LOA APPROVALS</h2>
                        </div>
                        <div class="block">
                            <div class="row-form">
                                <div class="span1">PIN#</div>
                                <div class="span4">
                                    @Html.TextBoxFor(m => m.TxtRegNumber)
                                    @Html.HiddenFor(m => m.RegistrationNo)
                                    @Html.HiddenFor(m => m.ErrMsg)
                                </div>

                                <div class="span1">Category</div>
                                <div class="span5 ViewTxtCSS CategoryNameClass">
                                    @Html.DisplayFor(m => m.CategoryName)
                                    @Html.HiddenFor(m => m.CategoryId)
                                </div>
                            </div>
                            <div class="row-form">
                                <div class="span1">Authority#</div>
                                <div class="span4">
                                    @*@Html.TextBoxFor(m => m.Name, new {@palceholder="Name", @class="validate[required]"})*@
                                    @Html.DropDownListFor(m => m.AuthorityId, new SelectList(Model.AuthorityLIST, "ID", "Name", Model.AuthorityId))
                                </div>

                                <div class="span1">Company</div>
                                <div class="span5 ViewTxtCSS CompanyNameClass">
                                    @Html.DisplayFor(m => m.CompanyName)
                                    @*@Html.TextBoxFor(m => m.CompanyName, new {ReadOnly=true})*@
                                    @Html.HiddenFor(m => m.CompanyId)

                                </div>
                            </div>
                            <div class="row-form">
                                <div class="span1">Doctor</div>
                                <div class="span4 ViewTxtCSS DoctorNameClass">
                                    @Html.HiddenFor(m => m.DoctorId)
                                    @Html.DisplayFor(m => m.DoctorName)
                                    @*@Html.TextBoxFor(m=>m.DoctorName )*@
                                </div>

                                <div class="span1">Grade</div>
                                <div class="span5 ViewTxtCSS GradeNameClass">
                                    @Html.DisplayFor(m => m.GradeId)
                                    @Html.HiddenFor(m => m.GradeName)

                                </div>
                            </div>
                            <div class="row-form">
                                <div class="span1">LOA Amount</div>
                                <div class="span1">
                                    @*@Html.TextBoxFor(m => m.Name, new {@palceholder="Name", @class="validate[required]"})*@
                                    @Html.TextBoxFor(m => m.LOAamount, new { ReadOnly = true })

                                </div>
                                <div class="span2">Consumed Amount</div>
                                <div class="span1 ViewTxtCSS ConsumedLoaClass">
                                    @*@Html.TextBoxFor(m => m.Name, new {@palceholder="Name", @class="validate[required]"})*@
                                    @Html.DisplayFor(m => m.ConsumedLoaAmount)
                                    @Html.HiddenFor(m => m.PrvLoa)
                                </div>

                                <div class="span1">Policy#</div>
                                <div class="span5 ViewTxtCSS LetternoClass ">
                                    @*@Html.TextBoxFor(m => m.StartdateTime)*@
                                    @Html.DisplayFor(m => m.Letterno)


                                </div>
                            </div>
                            <div class="row-form">
                                <div class="span1">Pharmacy Amount</div>
                                <div class="span1">
                                    @*@Html.TextBoxFor(m => m.Name, new {@palceholder="Name", @class="validate[required]"})*@
                                    @Html.TextBoxFor(m => m.PharmacyAmount, new {maxlength=4,@class="validate[custom[integer],min[1],max[9999]]" })
                                </div>
                                <div class="span2">PH Consumed Amt</div>
                                <div class="span1 ViewTxtCSS ConsumedPhAmountClass">
                                    @*@Html.TextBoxFor(m => m.Name, new {@palceholder="Name", @class="validate[required]"})*@
                                    @Html.DisplayFor(m => m.ConsumedPhAmount)
                                    @Html.HiddenFor(m => m.PrvPhAmount)
                                </div>
                                <div class="span1">No Of Days</div>
                                <div class="span2">
                                    @*@Html.TextBoxFor(m => m.Name, new {@palceholder="Name", @class="validate[required]"})*@
                                    @Html.TextBoxFor(m => m.NoDays,  new {maxlength=4,@class="validate[custom[integer],min[1],max[1000]]" })
                                    @Html.HiddenFor(m => m.PrvDays)
                                </div>
                                <div class="span1">LOA Date</div>
                                <div class="span2 ViewTxtCSS LoaDateTimeClass">
                                    @*@Html.TextBoxFor(m => m.Name, new {@palceholder="Name", @class="validate[required]"})*@
                                    @Html.DisplayFor(m => m.StrLoaDateTime)
                                    
                                </div>

                            </div>
                            <div class="row-form">
                                <div class="span1">Approval#</div>
                                <div class="span4">
                                    @*@Html.TextBoxFor(m => m.Name, new {@palceholder="Name", @class="validate[required]"})*@
                                    @Html.TextBoxFor(m => m.ApprovalNo)
                                    @Html.HiddenFor(m => m.Approval)
                                    @Html.HiddenFor(m=>m.LOAType)
                                </div>

                                @* <div class="span1">LOA Expiry</div>
                                <div class="span1">
                                    <input id="LOAcheck" name="LOAcheck" type="checkbox" value="false">
                                </div>

                                <div class="span4">
                                    <input type="text" class="datepicker" />

                                </div>*@
                            </div>
                            <div class="row-form">
                                <div class="span1">Note</div>

                                <div class="span10">
                                    @*@Html.TextBoxFor(m => m.StartdateTime)*@
                                    @Html.TextBoxFor(m => m.Notes)

                                </div>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span12 ">
                                <div class="block">
                                    <div class="row-form" id="divCommand">
                                        <input type="submit" name="BtnSave" id="BtnSave" class="btn btn-primary" value="Save" style="width: 90px; font-size: larger;" />
                                        <input type="submit" name="BtnClear" id="BtnClear" class="btn btn-primary" value="Clear" style="width: 90px; font-size: larger;" />
                                        @*<input type="submit" name="BtnClose" id="BtnClose" class="btn btn-primary" value="Close" style="width: 90px; font-size: larger;" />*@
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>


        }
    </form>
</div>

