@model MMS2.ParamDirectIpIssuesModel
@using MMS2

@{
    ViewBag.Title = "Direct IP Issues";
    Layout = "~/Views/Shared/_TwitterLayoutPage.cshtml";


    User u = (User)Session["User"];
    string UserLoggedNAme = "";
    UserLoggedNAme = u.Name;
 
    
   
}


<div class="breadCrumb clearfix">
    <ul id="breadcrumbs">
        <li><a href="@Url.Content("~/")">Home</a></li>
        <li><a href="#" onclick="$('#mainMenuOrder').trigger('click');">Issue</a></li>
        <li>Direct IP Issues </li>
    </ul>
</div>

<div class="content">
    <form id="validate">
        @using (Ajax.BeginForm("IndentOrderSave", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "validate" }))
        { 
            <div class="widget ViewWidget">
                <div class="head dark">
                    <div class="icon"><span class=""></span></div>
                    <h2>Direct IP Issues  </h2>
                </div>
                <div class="row-fluid">
                    <div class="block-fluid">
                        <div class="row-form">
                            <div class="span6  ">
                                <span class="top">Pin No.</span>
                                @Html.DropDownListFor(m => m.PinNo, new SelectList(Model.PinList,"IPId", "RegNo"), new { @class = "form-control  ", data_bind = "select2:{}", style="width:350px;" })
                            </div>
                            <div class="span4  ">
                                <span class="top">Bed </span>
                                @Html.DropDownListFor(m => m.Bed, new SelectList(Model.BedList,"Id", "Name"), new { @class = "form-control  ", data_bind = "select2:{}", style="width:150px;"  })
                            </div>
                        </div>
                        <div class="dr"><span></span></div>
                        <div class="row-form">
                            <div class="span12">
                                <table id="tblIndentView" class="table DarkRedFont">
                                    <thead>
                                        <tr>
                                            <td class="hidden">Id</td>
                                            <th class="StationSLno">Issue No.</th>
                                            <td class="PatientName">PatientName</td>
                                            <td class="IpNo">IP No</td>
                                            <td class="Bed">Bed</td>
                                            <td class="Doctor">Doctor</td>
                                            <td class="DateTime">DateTime</td>
                                            <td class="Operator">Operator</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row-form">

                            <div class="span12">
                                <div class="span2">
                                    @*<span class="label DarkRedFont" style="border: solid; border-width: thin; background-color: rgba(255, 182, 193, 0.59); width: 100px;">New Indent</span>*@
                                </div>
                                <div class="span2">
                                    @*<span class="label DarkRedFont" style="border: solid; border-width: thin; background-color: rgb(224, 224, 66); width: 100px;">Pending Orders</span>*@
                                </div>
                                <div class="span2">
                                    @*<span class="label DarkRedFont" style="border: solid; border-width: thin; background-color: rgb(153, 255, 153); width: 100px;">Issued Indent</span>*@
                                </div>
                                <div class="span3">
                                </div>
                                <div class="span3">
                                    <button class="btn btn-primary" id="btnNewOrder" style="width: 75%">New Order</button>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>
            </div>
            
            
            <div class="widget DetailWidget">
                <div class="head dark">
                    <div class="icon"><span class=""></span></div>
                    <h2>Direct IP Issue</h2>
                </div>
                <div class="row-fluid">
                    <div class="block-fluid">
                        <div class="row-form">
                            <div class="span4  ">
                                <input type="hidden" id="IndentOrderObj" value="" />
                                <input type="hidden" id="ajaxIpID" value="" />
                                <span class="top">Pin No.</span>
                                <select id="SelectedPinNo" name="SelectedPinNo" style="width: 350px;">

                                    @{ foreach (var item in Model.PinList){ <option value="@item.IPId" >@item.RegNo</option>} }
                                </select>
                            </div>

                            <div class="span4  ">
                                <span class="top">Patient</span>
                                <select id="Patient_IpId" style="width: 350px;"></select>
                                @*@Html.TextBoxFor(m => m.lbldate, new { @class = "ViewTxtCSS" })*@
                            </div>
                            <div class="span1"></div>
                            <div class="span3">
                                <span class="top">Order No</span>
                                <input type="text" id="orderno" name="orderno" class="ViewTxtCSS" />
                                @*@Html.TextBoxFor(m => m.lbldate, new { @class = "ViewTxtCSS" })*@

                            </div>
                        </div>
                        <div class="row-form">
                            <div class="span2">
                                <span class="top">Age</span>
                                <input type="text" id="age" name="age" class="ViewTxtCSS" />
                            </div>
                            <div class="span2">
                                <span class="top">Sex</span>
                                <input type="text" id="sex" name="sex" class="ViewTxtCSS" />
                            </div>
                            <div class="span2">
                                <span class="top">Bed</span>
                                <input type="text" id="BedNO" name="BedNO" class="ViewTxtCSS" />
                                <input type="hidden" id="BedId" name="BedId" class="hidden" />
                            </div>
                            <div class="span3"></div>
                            <div class="span3">
                                <span class="top">DateTime</span>
                                <input type="text" id="DateTime" name="DateTime" class="ViewTxtCSS" />
                            </div>

                        </div>
                        <div class="row-form">
                            <div class="span6">
                                <span class="top">Allergies</span>
                                <input type="text" id="allergies" name="allergies" class="ViewTxtCSS" />
                            </div>

                            <div class="span3"></div>
                            <div class="span3">
                                <span class="top">Operator</span>
                                <input type="text" id="operator" name="operator" class="ViewTxtCSS" value="@UserLoggedNAme"/>
                            </div>

                        </div>

                        <div class="row-form">
                            <div class="span6">
                                <span class="top">Doctor</span>
                                <select id="doctor" name="doctor" style="width: 400px;">
                                    @{ foreach (var item in Model.DoctorList){ <option value="@item.Id" >@item.Name</option>} }
                                </select>
                            </div>

                            <div class="span3"></div>
                            <div class="span3">
                                <span class="top">Category</span>
                                <select id="category" name="category" style="width: 250px;">
                                    @{ foreach (var item in Model.CategoryList){ <option value="@item.Id" >@item.Name</option>} }
                                </select>
                            </div>

                        </div>

                        @*  <div class="row-form">
                            <div class="span3">
                                <span class="top">Category</span>
                                <select id="lstItemCategory"></select>
                            </div>
                            <div class="span3">
                                <span class="top">Sections</span>
                                <select id="lstSections" class="ViewTxtCSS"></select>
                            </div>
                            <div class="span3 hidden">
                                <span class="top">QOH</span>
                                <select id="lstQOH">
                                    <option selected="selected">All Items</option>
                                    <option>Greater than zero</option>
                                </select>
                            </div>

                        </div>*@

                        <div class="row-form" id="AddItemDiv">
                        <div class="row-form" id="listitemDiv">

                            <div class="span8">
                                <input type="text" id="allItemsList" class="js-data-example-ajax" style="width: 100%" />
                            </div>

                            <div class="span1">
                                @*<span class="top">.</span>*@
                                <input type="button" class="button" id="btnAddItem" value="Add" />
                            </div>
                            <div class="dr"><span></span></div>
                        </div>
                        <div class="row-form">
                            <table class="table" id="SelectedItemtbl"
                                style="background-color: beige; width: 100%;">
                                <thead>
                                    <tr>
                                        <th class="SNO">sl.no</th>
                                        <th class="Name">Drug Name </th>
                                        <th class="quantity">QOH</th>
                                        <th class="mrp" >Unit Price</th>
                                        <th class="PrevQty">Qty</th>
                                        <th class="Unit">Unit</th>
                                        <th class="Amount" >Amount</th>
                                        <th class="BillQty">Bill Qty</th>
                                        <th class="BillUnit" id="txtBillUnit">Bill Unit</th>
                                        <th class="Remarks">Remarks</th>
                                        <th class="TAC">Action</th>
                                      
                                        <th class="hidden Id"> </th>@*11*@
                                        <th class="hidden unitId"></th>
                                        <th class="hidden tax"></th>
                                        
                                        @*  <th class="hidden">substituteid</th>
                                        <th class="hidden">DrugType</th>

                                        <th class="hidden">lstsub</th>
                                        <th class="hidden">IssueUnitID</th>
                                        <th class="hidden">conversionqty</th>
                                        <th class="hidden">PrevQty</th>
                                        <th class="hidden">OrderQty</th>

                                        <th class="hidden">PrevUnitID</th>
                                        <th class="hidden">IndentUnitID</th>
                                        <th class="hidden">batchqty</th>
                                        <th class="hidden">totqty</th>
                                        <th class="hidden">MinLevel</th>*@

                                    

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        </div>

                    </div>
                </div>
                <div class="row-fluid">
                    <div class="block-fluid">
                        <div class="row-form">
                            <div class="span12">
                                <div class="span3">
                                    <input type="text" id="totalAmt" style="width: 75%" class="ViewTxtCSS" readonly="readonly" />
                                </div>
                                <div class="span3">
                                    <button class="btn btn-primary" id="btnSave" style="width: 75%">Save</button>
                                </div>
                                <div class="span3">
                                    <button class="btn btn-primary" id="btnPrint" style="width: 75%">View</button>
                                </div>
                                <div class="span3">
                                    <button class="btn btn-primary" id="btnClose" style="width: 75%">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="Hiddenids">



            </div>
            

        }

        @*report Modal*@
        <div class="dialog-fluid" id="ReportDialog"
            style="display: none; background-color: rgba(72, 61, 139, 0.2);" title="Report">
            <div class="block-fluid">
                <div id="DivRpt" style="overflow: auto; max-height: 350px; overflow-x: auto"></div>
            </div>

        </div>
    </form>

</div>
<script type='text/javascript' src="@Url.Content("~/Scripts/DirectIpIssue.js")"></script>