<!DOCTYPE html>
<html lang="en" class="csstransforms csstransforms3d csstransitions">
<head>
    <title>Materials Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <!--[if gt IE 8]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />        
    <![endif]-->

    <link href="@Url.Content("~/css/stylesheets.css")" rel="stylesheet" type="text/css" />
    <!--[if lt IE 10]>
        <link href="css/ie.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    @*<link rel="icon" type="image/ico" href="favicon.ico" />*@

    <script type='text/javascript' src="@Url.Content("~/js/plugins/jquery/jquery-1.10.2.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/plugins/jquery/jquery-ui-1.10.1.custom.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/plugins/jquery/jquery-migrate-1.1.1.min.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/js/plugins/jquery/globalize.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/plugins/other/excanvas.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/js/plugins/other/jquery.mousewheel.min.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/js/plugins/bootstrap/bootstrap.min.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/js/plugins/cookies/jquery.cookies.2.2.0.min.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/js/plugins/fancybox/jquery.fancybox.pack.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/js/plugins/jflot/jquery.flot.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/plugins/jflot/jquery.flot.stack.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/plugins/jflot/jquery.flot.pie.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/plugins/jflot/jquery.flot.resize.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/js/plugins/epiechart/jquery.easy-pie-chart.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/plugins/knob/jquery.knob.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/js/plugins/sparklines/jquery.sparkline.min.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/js/plugins/pnotify/jquery.pnotify.min.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/js/plugins/fullcalendar/fullcalendar.min.js")"></script>



    <script type='text/javascript' src="@Url.Content("~/js/plugins/wookmark/jquery.wookmark.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/js/plugins/jbreadcrumb/jquery.jBreadCrumb.1.1.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/js/plugins/uniform/jquery.uniform.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/plugins/select/select2.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/plugins/tagsinput/jquery.tagsinput.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/plugins/maskedinput/jquery.maskedinput-1.3.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/plugins/multiselect/jquery.multi-select.min.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/js/plugins/validationEngine/languages/jquery.validationEngine-en.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/plugins/validationEngine/jquery.validationEngine.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/plugins/stepywizard/jquery.stepy.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/js/plugins/animatedprogressbar/animated_progressbar.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/plugins/hoverintent/jquery.hoverIntent.minified.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/js/plugins/media/mediaelement-and-player.min.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/js/plugins/cleditor/jquery.cleditor.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/js/plugins/shbrush/XRegExp.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/plugins/shbrush/shCore.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/plugins/shbrush/shBrushXml.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/plugins/shbrush/shBrushJScript.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/plugins/shbrush/shBrushCss.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/js/plugins/filetree/jqueryFileTree.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/js/plugins/slidernav/slidernav-min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/plugins/isotope/jquery.isotope.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/plugins/jnotes/jquery-notes_1.0.8_min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/plugins/jcrop/jquery.Jcrop.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/plugins/ibutton/jquery.ibutton.min.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/js/plugins/scrollup/jquery.scrollUp.min.js")"></script>

    <script type='text/javascript' src="@Url.Content("~/js/plugins.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/charts.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/actions.js")"></script>
    @*<script type='text/javascript' src="@Url.Content("~/js/plugins/datatables/jquery.dataTables.min.js")"></script>*@
    @*<style type="text/css">
     .jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}
</style>*@



</head>


<body class="ssTq bg_texture" oncontextmenu="return false">
    <div class="header">
        <a href="index.html" class="logo"></a>
    </div>

    <div id="DivHide">
        <div class="navigation" id="hiddennav">
            <ul class="main">
                <li><a href="#default" class="active"></a></li>
            </ul>
        </div>
    </div>


    @RenderBody()



    @*<a id="scrollUp" href="#top" style="display: none; position: fixed; z-index: 2147483647;">^</a>*@

</body>
</html>


<script>
    $(document).ready(function () {
        $(document).keydown(function (e) {
            if (e.which === 123) {
                return false;
            }
        });

        $("#DivHide").ready(function () {
            if (!$(this).hasClass('active')) {
                $("#fixedNav, #collapsedNav").removeClass('active');
                $(this).addClass('active');
                $("body").removeClass('smf').addClass('smw');
                $.cookies.set('navigation', 'hidden');
                subNavigation = 'hidden';
                fix();
            }
        });
    });
</script>
